a {
	text-decoration: none;
}

body {
	margin: 0;
	padding: 0;
	border: none;
}

#backgound {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	white-space: nowrap;
}
#sidebar {
	vertical-align: top;
	background: #181d20;
	height: 100%;
	width: 22.5%;
	display: inline-block;
}

#sidebar-header {
    margin-top: 10px;
	margin-bottom: 10px;
	padding-right: 10px;
	text-align: center;
	font-size: 1.6em;
}
#sidebar-page {
}

#mainboard {
	vertical-align: top;
	height: 100%;
	width: 77%;
	display: inline-block;
	overflow: auto;
}

#post {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

#post-title {
	margin-top: 1em;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
}

.title-list {
    list-style: none;
}
ul {
	margin: 5px;
	padding: 0px;
}
li {
	margin: 5px;
}

.title-link {
	color: #eeeeaa;
}

.title-link:hover {
	color: white;
}

.golden {
	color: #eecc44;
}