a {
	text-decoration: none;
}

#backgound {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
#sidebar {
	background: #181d20;
}

#sidebar-header {
    margin-top: 20px;
	text-align: center;
	font-size: 1.6em;
}
#sidebar-page {
}

#mainboard {
}

#post {
	margin: 20px;
}

#post-title {
	text-align: center;
	font-size: 2em;
	font-weight: bold;
}

.title-words {
	text-align: center;
	font-size: 1.8em;
	font-weight: bold;
}

.title-list {
    list-style: none;
}
ul {
	margin: 5px;
	padding: 0px;
}
li {
	margin: 5px;
}

.title-link {
	color: #eeeeaa;
}

.title-link:hover {
	color: white;
}

.golden {
	color: #eecc44;
}