<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<link href="http://peterrk.github.io/common/rk.ico" rel="shortcut icon">
	<link rel="stylesheet" media="all and (orientation:portrait)" href="{{ site.baseurl }}common/portrait.css"> 
	<link rel="stylesheet" media="all and (orientation:landscape)" href="{{ site.baseurl }}common/landscape.css">
	<link rel="stylesheet" href="{{ site.baseurl }}common/pygments.css">
</head>

<body>
<div id="backgound">
	<div id="sidebar">
		<div id="sidebar-header">
			<a class="golden" href="/">RK的备忘录</a>
		</div>
		<div id="sidebar-page">
			<ul class="title-list">
				{% for post in site.posts %}
				<li><a class="title-link" href="{{ post.url }}">{{ post.title }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<div id="mainboard">
		<div id="post">
			{% for post in paginator.posts %}
			<div class="title-words">{{ post.title }}</div>
			<div>{{ post.excerpt }}</div>
			{% endfor %}

			{% if paginator.total_pages > 1 %}
			<div id="foot-bar">
				{% if paginator.previous_page %}
				<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">上一页</a>
				{% else %}
				<span>上一页</span>
				{% endif %}
					
				{% for page in (1..paginator.total_pages) %}
					{% if page == paginator.page %}
					  <span>{{ page }}</span>
					{% elsif page == 1 %}
					  <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
					{% else %}
					  <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
					{% endif %}
				{% endfor %}

				{% if paginator.next_page %}
				<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">下一页</a>
				{% else %}
				<span>下一页</span>
				{% endif %}
			</div>
			{% endif %}
		<div>
	</div>

</div>
</body>
</html>
